header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: clamp(2.188rem, 2.723vw + 1.549rem, 4rem) clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
}
header img {
  width: 200px;
  max-width: 100%;
  z-index: 9998;
}
header .desktop-menu {
  display: none;
}
@media screen and (width > 768px) {
  header .desktop-menu {
    display: inline-block;
  }
  header .desktop-menu .menu {
    display: flex;
    flex-direction: row;
    gap: 42px;
    list-style-type: none;
    padding: 0;
  }
  header .desktop-menu .menu a {
    text-decoration: none;
  }
  header .desktop-menu .menu a li {
    text-transform: uppercase;
    color: #333136;
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 14px;
  }
  header .desktop-menu .menu a:hover {
    -webkit-text-decoration: underline #333136;
            text-decoration: underline #333136;
    text-decoration-thickness: 1px;
  }
}
header .mobile-menu {
  background-color: #000;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 3rem 1.5rem;
  transform: translateY(-430px);
  display: inline-block;
  opacity: 0;
  transition: all 0.7s ease-in;
  transition-behavior: allow-discrete;
  z-index: 9999;
}
header .mobile-menu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
header .mobile-menu ul a {
  text-decoration: none;
}
header .mobile-menu ul a li {
  color: #fff;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 25px;
}
header .menuIsOpen {
  transform: translateY(0px);
  opacity: 1;
}

.content-wrapper {
  width: 100%;
  padding-left: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  padding-right: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
}
@media screen and (width > 768px) {
  footer {
    grid-template-rows: repeat(5, 1fr);
  }
}
footer .footer-cta-wrapper {
  grid-area: 1/1/4/3;
  background-color: #E7816B;
  margin-left: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  margin-right: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  padding: clamp(4rem, 0.751vw + 3.824rem, 4.5rem) clamp(1.5rem, 6.761vw - 0.085rem, 6rem);
  border-radius: 15px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
  background-image: url("/assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-position: 40% 45%;
  background-repeat: no-repeat;
}
@media screen and (width > 768px) {
  footer .footer-cta-wrapper {
    grid-area: 1/1/4/5;
  }
}
@media screen and (width > 1280px) {
  footer .footer-cta-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 300px;
         column-gap: 300px;
    background-position: 100% 40%;
  }
}
footer .footer-cta-wrapper h2 {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  line-height: clamp(2.25rem, 0.376vw + 2.162rem, 2.5rem);
  font-weight: 500;
}
@media screen and (width > 1280px) {
  footer .footer-cta-wrapper h2 {
    align-self: end;
    justify-self: start;
    margin-bottom: 10px;
    text-align: start;
  }
}
footer .footer-cta-wrapper p {
  display: flex;
  gap: 32px;
  margin-top: 6px;
  margin-bottom: 32px;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 25px;
}
@media screen and (width > 1280px) {
  footer .footer-cta-wrapper p {
    grid-column: 1;
    text-align: start;
    margin-top: 10px;
    align-self: start;
  }
}
@media screen and (width > 1280px) {
  footer .footer-cta-wrapper a {
    grid-area: 1/2/3/3;
    align-self: center;
    justify-self: end;
  }
}
footer .footer-content-wrapper {
  grid-area: 3/1/10/3;
  display: grid;
  grid-template-rows: subgrid;
  background-color: #000;
  padding-top: clamp(4rem, 0.751vw + 3.824rem, 4.5rem);
  padding-bottom: clamp(4rem, 0.751vw + 3.824rem, 4.5rem);
  row-gap: 40px;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper {
    padding-right: clamp(2.5rem, 11.643vw - 0.229rem, 10.25rem);
    padding-left: clamp(2.5rem, 11.643vw - 0.229rem, 10.25rem);
  }
}
footer .footer-content-wrapper img {
  grid-column: 1/2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper img {
    align-self: start;
    justify-self: auto;
  }
}
footer .footer-content-wrapper nav {
  grid-column: 1/2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper nav {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: end;
  }
}
footer .footer-content-wrapper nav ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper nav ul {
    flex-direction: row;
  }
}
footer .footer-content-wrapper nav ul a {
  text-decoration: none;
}
footer .footer-content-wrapper nav ul a li {
  color: #fff;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}
footer .footer-content-wrapper nav ul a:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
  text-decoration-thickness: 1px;
}
footer .footer-content-wrapper address {
  grid-column: 1/2;
  grid-row: 4;
  color: #fff;
  font-family: sans-serif;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper address {
    grid-column: 1;
    grid-row: 3;
    flex-direction: row;
    text-align: start;
    justify-self: start;
    align-self: end;
  }
}
footer .footer-content-wrapper address div {
  display: flex;
  flex-direction: column;
}
footer .footer-content-wrapper address div span {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
  line-height: 26px;
}
footer .footer-content-wrapper address div .address_normal {
  font-weight: 400;
}
footer .footer-content-wrapper .social-links {
  grid-column: 1/2;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (width > 768px) {
  footer .footer-content-wrapper .social-links {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: end;
  }
}
footer .footer-content-wrapper .social-links svg:hover {
  cursor: pointer;
}
footer .footer-content-wrapper .social-links svg:hover path {
  fill: #FFAD9B;
}

.contact-footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  row-gap: 32px;
  background-color: #000;
  padding-top: clamp(4rem, 0.751vw + 3.824rem, 4.5rem);
  padding-bottom: clamp(4rem, 0.751vw + 3.824rem, 4.5rem);
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    padding-right: clamp(2.5rem, 11.643vw - 0.229rem, 10.25rem);
    padding-left: clamp(2.5rem, 11.643vw - 0.229rem, 10.25rem);
  }
}
.contact-footer-content-wrapper img {
  align-self: center;
  justify-self: center;
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper img {
    align-self: start;
    justify-self: auto;
  }
}
.contact-footer-content-wrapper nav {
  align-self: center;
  justify-self: center;
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper nav {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: end;
  }
}
.contact-footer-content-wrapper nav ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper nav ul {
    flex-direction: row;
  }
}
.contact-footer-content-wrapper nav ul a {
  text-decoration: none;
}
.contact-footer-content-wrapper nav ul a li {
  color: #fff;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}
.contact-footer-content-wrapper nav ul a:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
  text-decoration-thickness: 1px;
}
.contact-footer-content-wrapper address {
  color: #fff;
  font-family: sans-serif;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper address {
    grid-column: 1;
    grid-row: 3;
    flex-direction: row;
    text-align: start;
    justify-self: start;
    align-self: end;
  }
}
.contact-footer-content-wrapper address div {
  display: flex;
  flex-direction: column;
}
.contact-footer-content-wrapper address div span {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
  line-height: 26px;
}
.contact-footer-content-wrapper address div .address_normal {
  font-weight: 400;
}
.contact-footer-content-wrapper .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (width > 768px) {
  .contact-footer-content-wrapper .social-links {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: end;
  }
}
.contact-footer-content-wrapper .social-links svg:hover {
  cursor: pointer;
}
.contact-footer-content-wrapper .social-links svg:hover path {
  fill: #FFAD9B;
}

.mobile-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}
@media screen and (width > 768px) {
  .mobile-menu-button {
    display: none;
  }
}
.mobile-menu-button .hidden {
  display: none;
}

.cta_btn,
.footer-cta_btn {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  padding: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  transition: all 0.45s ease;
}
.cta_btn:hover,
.footer-cta_btn:hover {
  background-color: #ffad9b;
  color: #fff;
  cursor: pointer;
}

.location_btn {
  border: none;
  border-radius: 8px;
  background-color: #e7816b;
  padding: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.45s ease;
}
.location_btn:hover {
  background-color: #ffad9b;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}
@media screen and (width >= 1280px) {
  a.web-design-item {
    grid-area: 1/1/3/2;
  }
}
@media screen and (width >= 768px) {
  a.app-design-item {
    height: 100%;
  }
}
@media screen and (width >= 768px) {
  a.graphic-design-item {
    height: 100%;
  }
}
a .work-container {
  padding: 90px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 15px;
  gap: 24px;
}
a .work-container:hover {
  cursor: pointer;
}
a .work-container:hover .work-overlay {
  background-color: #E7816B;
  opacity: 0.85;
}
a .work-container .work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.49;
  border-radius: 15px;
}
a .work-container h2 {
  font-family: "Jost", sans-serif;
  font-size: clamp(1.75rem, 1.878vw + 1.31rem, 3rem);
  line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
  letter-spacing: clamp(0.063rem, 0.094vw + 0.04rem, 0.125rem);
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}
a .work-container .work-copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  z-index: 2;
}
a .work-container .work-copy p {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 500;
}
a .work-container.web-design {
  background-image: url("/assets/home/mobile/image-web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (width >= 768px) {
  a .work-container.web-design {
    background-image: url("/assets/home/tablet/image-web-design.jpg");
  }
}
@media screen and (width >= 1280px) {
  a .work-container.web-design {
    padding: 273px 136px;
    background-image: url("/assets/home/desktop/image-web-design-large.jpg");
  }
}
a .work-container.app-design {
  background-image: url("/assets/home/mobile/image-app-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (width >= 768px) {
  a .work-container.app-design {
    background-image: url("/assets/home/tablet/image-app-design.jpg");
    height: 100%;
  }
}
@media screen and (width >= 1280px) {
  a .work-container.app-design {
    background-image: url("/assets/home/desktop/image-app-design.jpg");
    height: 100%;
  }
}
a .work-container.graphic-design {
  background-image: url("/assets/home/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (width >= 768px) {
  a .work-container.graphic-design {
    background-image: url("/assets/home/tablet/image-graphic-design.jpg");
    height: 100%;
  }
}
@media screen and (width >= 1280px) {
  a .work-container.graphic-design {
    background-image: url("/assets/home/desktop/image-graphic-design.jpg");
    height: 100%;
  }
}

.home_hero {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E7816B;
  padding: 80px 24px;
  height: 95vh;
  overflow-y: hidden;
  background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
  background-position: -10% 50%;
  background-size: cover;
}
@media screen and (width > 768px) {
  .home_hero {
    margin-right: unset;
    margin-left: unset;
    width: 100%;
    border-radius: 15px;
    overflow-x: hidden;
  }
}
@media screen and (width >= 1280px) {
  .home_hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 145px 95px;
    align-items: start;
    overflow-x: hidden;
    height: -moz-min-content;
    height: min-content;
  }
}
.home_hero .hero-copy_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (width > 1280px) {
  .home_hero .hero-copy_container {
    text-align: start;
  }
}
.home_hero .hero-copy_container h1 {
  font-family: "Jost", sans-serif;
  font-size: clamp(2rem, 1.502vw + 1.648rem, 3rem);
  font-weight: 500;
  color: #fff;
  line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
}
.home_hero .hero-copy_container p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.home_hero img {
  position: absolute;
  transform: translateY(300px);
  transform-origin: right center;
}
@media screen and (width > 768px) {
  .home_hero img {
    transform: translateY(250px);
  }
}
@media screen and (width > 1280px) {
  .home_hero img {
    transform: translateY(30px);
    transform: translateX(750px);
  }
}

.work-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 24px;
  margin: 120px 0;
}
@media screen and (width > 1280px) {
  .work-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.traits-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  gap: 80px;
}
@media screen and (width > 1280px) {
  .traits-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 160px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.traits-wrapper .trait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .traits-wrapper .trait-container {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: start;
  }
}
.traits-wrapper .trait-container h3 {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 26px;
  color: #333136;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .traits-wrapper .trait-container h3 {
    margin-bottom: 16px;
  }
}
.traits-wrapper .trait-container p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333136;
}
.traits-wrapper .trait-container:first-child .bg-circle-container {
  background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
}
.traits-wrapper .trait-container:nth-child(2) .bg-circle-container {
  position: relative;
  overflow: hidden;
}
.traits-wrapper .trait-container:nth-child(2) .bg-circle-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/shared/desktop/bg-pattern-small-circle.svg") no-repeat center;
  background-size: cover;
  transform: rotate(-90deg);
}
.traits-wrapper .trait-container:nth-child(3) .bg-circle-container {
  position: relative;
  overflow: hidden;
}
.traits-wrapper .trait-container:nth-child(3) .bg-circle-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/shared/desktop/bg-pattern-small-circle.svg") no-repeat center;
  background-size: cover;
  transform: rotate(90deg);
}

.about-hero {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (width >= 1280px) {
  .about-hero picture {
    grid-column: 2;
    grid-row: 1;
  }
}
.about-hero picture img {
  width: 100%;
  height: 100%;
}
@media screen and (width > 768px) {
  .about-hero {
    margin-right: unset;
    margin-left: unset;
    width: 100%;
    border-radius: 15px;
    overflow-x: hidden;
    margin-bottom: 120px;
  }
}
@media screen and (width >= 1280px) {
  .about-hero {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
}
.about-hero .about-hero-copy {
  background-color: #e7816b;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media screen and (width > 768px) {
  .about-hero .about-hero-copy {
    padding: 68px 58px;
  }
}
@media screen and (width > 1280px) {
  .about-hero .about-hero-copy {
    align-items: start;
    justify-content: center;
    text-align: start;
    padding-left: 95px;
    padding-right: 82px;
  }
}
.about-hero .about-hero-copy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  left: 75px;
  background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}
@media screen and (width > 768px) {
  .about-hero .about-hero-copy::before {
    top: -450px;
    left: -20px;
  }
}
.about-hero .about-hero-copy h1 {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: clamp(2rem, 1.502vw + 1.648rem, 3rem);
  font-weight: 500;
  line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
  margin-bottom: 24px;
}
.about-hero .about-hero-copy p {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.world-class-talent-container {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.world-class-talent-container picture img {
  width: 100%;
}
@media screen and (width > 768px) {
  .world-class-talent-container {
    margin-right: unset;
    margin-left: unset;
    width: 100%;
    border-radius: 15px;
    overflow-x: hidden;
  }
}
@media screen and (width >= 1280px) {
  .world-class-talent-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }
}
.world-class-talent-container .talent-copy-container {
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fdf3f0;
}
@media screen and (width > 768px) {
  .world-class-talent-container .talent-copy-container {
    padding: 68px 58px;
  }
}
@media screen and (width > 1280px) {
  .world-class-talent-container .talent-copy-container {
    align-items: start;
    justify-content: center;
    text-align: start;
    padding: 154px 94px;
  }
}
.world-class-talent-container .talent-copy-container h2 {
  font-family: "Jost", sans-serif;
  color: #e7816b;
  font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  font-weight: 500;
  line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
  margin-bottom: 24px;
}
.world-class-talent-container .talent-copy-container p {
  font-family: "Jost", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.world-class-talent-container .talent-copy-container p:nth-child(2) {
  margin-bottom: 32px;
}

.locations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 48px;
}
@media screen and (width > 1280px) {
  .locations-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }
}
.locations-wrapper .location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.locations-wrapper .location:first-child .bg-circle-container {
  position: relative;
  overflow: hidden;
}
.locations-wrapper .location:first-child .bg-circle-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/shared/desktop/bg-pattern-small-circle.svg") no-repeat center;
  background-size: cover;
  transform: rotate(90deg);
}
.locations-wrapper .location:nth-child(2) .bg-circle-container {
  position: relative;
  overflow: hidden;
}
.locations-wrapper .location:nth-child(2) .bg-circle-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/shared/desktop/bg-pattern-small-circle.svg") no-repeat center;
  background-size: cover;
  transform: rotate(15deg);
}
.locations-wrapper .location:nth-child(3) .bg-circle-container {
  position: relative;
  overflow: hidden;
}
.locations-wrapper .location:nth-child(3) .bg-circle-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/assets/shared/desktop/bg-pattern-small-circle.svg") no-repeat center;
  background-size: cover;
  transform: rotate(-90deg);
}
.locations-wrapper .location .location-copy {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.locations-wrapper .location .location-copy h3 {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.real-deal-container {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: 120px;
}
@media screen and (width >= 1280px) {
  .real-deal-container picture {
    grid-column: 2;
    grid-row: 1;
  }
}
.real-deal-container picture img {
  width: 100%;
}
@media screen and (width > 768px) {
  .real-deal-container {
    margin-right: unset;
    margin-left: unset;
    width: 100%;
    border-radius: 15px;
    overflow-x: hidden;
  }
}
@media screen and (width >= 1280px) {
  .real-deal-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
}
.real-deal-container .real-deal-copy {
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fdf3f0;
}
@media screen and (width > 768px) {
  .real-deal-container .real-deal-copy {
    padding: 68px 58px 94px 58px;
  }
}
@media screen and (width > 1280px) {
  .real-deal-container .real-deal-copy {
    align-items: start;
    justify-content: center;
    text-align: start;
    padding: 154px 94px;
  }
}
.real-deal-container .real-deal-copy h2 {
  font-family: "Jost", sans-serif;
  color: #e7816b;
  font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  font-weight: 500;
  line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
  margin-bottom: 24px;
}
.real-deal-container .real-deal-copy p {
  font-family: "Jost", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.real-deal-container .real-deal-copy p:nth-child(2) {
  margin-bottom: 32px;
}

.map-wrapper {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (width > 768px) {
  .map-wrapper {
    margin-right: unset;
    margin-left: unset;
    width: 100%;
    border-radius: 15px;
    overflow-x: hidden;
    margin-bottom: 120px;
  }
}
@media screen and (width >= 1280px) {
  .map-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (width >= 1280px) {
  .map-wrapper.canada, .map-wrapper.uk {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.map-wrapper:not(:last-child) {
  margin-bottom: 40px;
}
.map-wrapper:last-child {
  margin-bottom: 120px;
}
.map-wrapper.canada .map, .map-wrapper.uk .map {
  grid-column: 2;
}
@media screen and (width > 1280px) {
  .map-wrapper.canada .map picture img, .map-wrapper.uk .map picture img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
.map-wrapper.canada .map-copy, .map-wrapper.uk .map-copy {
  grid-column: 1;
  grid-row: 1;
}
@media screen and (width > 1280px) {
  .map-wrapper.canada .map-copy, .map-wrapper.uk .map-copy {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.map-wrapper .map picture img {
  width: 100%;
  max-height: 100%;
}
@media screen and (width > 1280px) {
  .map-wrapper .map picture img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.map-wrapper .map-copy {
  background-color: #fdf3f0;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/assets/locations/desktop/");
}
@media screen and (width >= 1280px) {
  .map-wrapper .map-copy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 95px;
    row-gap: 24px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
.map-wrapper .map-copy h2 {
  font-family: "Jost", sans-serif;
  font-size: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
  line-height: clamp(2.25rem, 1.986rem + 1.127vw, 3rem);
  font-weight: 500;
  color: #e7816b;
}
@media screen and (width >= 1280px) {
  .map-wrapper .map-copy h2 {
    align-self: end;
    justify-self: start;
  }
}
.map-wrapper .map-copy address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (width >= 1280px) {
  .map-wrapper .map-copy address {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 120px;
  }
}
.map-wrapper .map-copy address div {
  display: flex;
  flex-direction: column;
}
.map-wrapper .map-copy address div span {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
}
.map-wrapper .map-copy address div span:first-child {
  font-weight: 700;
}