.content-wrapper {
    padding-left: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
    padding-right: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
    position: relative;
    // .overlay {
    //     background-color: #000;
    //     width: 100vw;
    //     height: 100%;
    //     position: absolute;
    //     top: 100px;
    //     left: clamp(-1.5rem, -13.239vw + 1.603rem, -10.313rem);
    //     right: 0;
    //     opacity: 0;
    //     display: inline-block;
    //     transition: all 0.7s ease-in;
    //     transition-behavior: allow-discrete;
    //     box-sizing: border-box;
    //     @media screen and (width > 768px) {
    //         display: none;
    //     }
    // }
    // .overlay-show {
    //     display: block;
    //     opacity: 0.6;
    // }
}