.content-wrapper {
  width: 100%;
  padding-left: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  padding-right: clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  .bg-pattern-container-large {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
    display: none;
    @media screen and (width >= 1280px) {
      display: block;
    }
  }
  .bg-pattern-container-large-contact {
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: -1;
    display: none;
    overflow: hidden;
    @media screen and (width >= 1280px) {
      display: block;
    }
  }
  .bg-pattern-container-left {
    position: absolute;
    left: 0;
    top: 250px;
    z-index: -1;
    display: none;
    @media screen and (width >= 1280px) {
      display: block;
    }
  }
  .bg-pattern-container-right {
    position: absolute;
    right: 10px;
    bottom: -150px;
    z-index: -1;
    display: none;
    transform: rotate(180deg);
    @media screen and (width >= 1280px) {
      display: block;
    }
  }
}
