.overlay {
  position: absolute; /* Locks it to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  transition: all 0.7s ease-in;
  transition-behavior: allow-discrete;
  z-index: 2;
  @media screen and (width >= 768px) {
    display: none;
  }
}
.overlay-show {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
