.about-hero {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  picture {
    img {
      width: 100%;
    }
  }
  .about-hero-copy {
    background-color: #e7816b;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -300px;
      left: 75px;
      background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-90deg);
    }
    h1 {
      font-family: "Jost", sans-serif;
      color: #fff;
      font-size: clamp(2rem, 1.502vw + 1.648rem, 3rem);
      font-weight: 500;
      line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
      margin-bottom: 24px;
    }
    p {
      font-family: "Jost", sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}
//
.world-class-talent-container {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  picture {
    img {
      width: 100%;
    }
  }
  .talent-copy-container {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fdf3f0;
    h2 {
      font-family: "Jost", sans-serif;
      color: #e7816b;
      font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
      font-weight: 500;
      line-height: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
      margin-bottom: 24px;
    }
    p {
      font-family: "Jost", sans-serif;
      color: #000;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      &:nth-child(2) {
        margin-bottom: 32px;
      }
    }
  }
}
//
.locations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .location {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .location-copy {
      display: flex;
      flex-direction: column;
      gap: 32px;
      h3 {
        font-family: "Jost", sans-serif;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 5px;
      }
    }
  }
}
//
.real-deal-container {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  picture {
    img {
      width: 100%;
    }
  }
}
